header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

footer {
  border-top: solid white 2px;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #727272;
  text-align: center;
  }

footer > span {
  display: block;
  background-color: #727272;
}
