<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img [src]="photoCover">
    </div>

    <div class="small-card__text-column">
      <div class="small-card__published">
        <p>{{publishedDate}}</p>
      </div>
      <div class="small-card__title">
        <h1><a [routerLink]="['content', id]">{{cardTitle}}</a></h1>
      </div>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>
