<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      [id]="dataFake[0].id"
      [photoCover]="dataFake[0].photo"
      [cardTitle]="dataFake[0].title"
      [cardDescription]="dataFake[0].description"
      [publishedDate]="dataFake[0].published"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <div *ngFor="let item of dataFake">
      <app-small-card *ngIf="item.id != '1'"
        [id]="item.id"
        [photoCover]="item.photo"
        [cardTitle]="item.title"
        [publishedDate]="item.published"
      ></app-small-card>
    </div>
  </div>
</div>
